html, body {
  margin: 0;
  height: 100%;
}

#root{
  height: 100%;
}
.App {
  display: flex;
  height: 100%;
}

button {
  border: 0;
  background: #26c6da;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 3px;
  outline: 0;
  padding: 5px 10px;
  transition: all .1s linear;
}
button:active {
  transform: translateY(3px);
}
button:hover {
  box-shadow: 0 5px 5px 0 rgba(40, 190, 189, 0.14);

}
button:disabled {
  background: #2f3d4a;
  cursor: pointer;
}
button:disabled:hover {
  background: #6c757d;
  cursor: pointer;
}
@keyframes App-logo-spin {

}
